.align-center{text-align: center;}
.align-left{text-align: left;}
.align-right{text-align: right;}
.vertical-middle{vertical-align: middle;}
.vertical-top{vertical-align: top;}
.vertical-bottom{vertical-align: bottom;}
.color-black{color: black;}
.bg-sakila{}
.bg-white{background-color:white;}
body{margin:0; background-color:#FAECC5; width:100%; height:100%;}